{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Tout les articles</h1>
    {% for article in articles %}
        <div class="card mb-3">
            <h5 class="card-header"><a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}">{{ article.title }}</a></h5>
            <div class="card-body">
                {# <h5 class="card-title">Special title treatment</h5> #}
                <p class="card-text">{{ article.contenue }}</p>
                <p>
                    {% for categorie in article.categories %}
                        <small><a href="{{ path('categorie.show', {id: categorie.id, slug: categorie.slug}) }}"><i class="fa-solid fa-tag"></i> {{ categorie.title }}</a></small>
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        <i class="fa-solid fa-thumbs-up"></i> 4
                        <i class="fa-regular fa-thumbs-up"></i>
                        <i class="fa-solid fa-comment"></i> {{ article.commentaires | length }}
                    </div>
                    <div>
                        <small class="text-muted">Création : {{ article.createdAt | date('j M Y à H:m') }}</small> |
                        <small class="text-muted">Dernière midification : {{ article.createdAt | date('j M Y à H:m') }}</small>
                    </div>
                    <div>
                        <i class="fa-solid fa-user"></i> {{ article.autor.username | default('Anonnyme') }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
